<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible">
  <link rel="stylesheet" href="/style.css">
  <title>Issue Distributor</title>
</head>
<body>
  <h1 id="alert-message"></h1>
  <div class="container">
    <div id="input-section">
      <ul>
        <li><input type="text" name="csr-username" id="csr-username"></li>
        <li><button id="add-csr">Add CSR</button></li>
        <li><button id="fetch-issueids">Fetch Issues Button</button></li>
      </ul>
      <ul id="list-of-csrs">
        <% for(let i = 0; i < csrs.length; i++) { %>
          <li>
            <div class="csr-info">
              <a class="delete-csr" id="<%= 'delete-csr-' + csrs[i].csrid %>" href="#">X</a>
              <h3><%= csrs[i].username %></h3>
            </div>
          </li>
        <% } %>
      </ul>
    </div>
    <div id="output-section">
      <ul>
        <% for(let i = 0; i < csrs.length; i++) { %>
          <% if(csrs[i].issueList) { %>
            <li class="output-csr" id="<%= 'csr-' + csrs[i].csrid %>">
              <h3><%= csrs[i].username %>:</h3>
              <% for(let j = 0; i < csrs[i].issueList.length; j++) { %>
                <p><%= csrs[i].issueList[j] %></p>
              <% } %>
            </li>
          <% } %>
        <% } %>
      </ul>
    </div>
  </div>
  <script type="text/javascript" src="/scripts/utils.js"></script>
  <script type="text/javascript" src="/scripts/event-listeners.js"></script>
  <script type="text/javascript" src="/scripts/buttons.js"></script>
  <script type="text/javascript" src="/scripts/main.js"></script>
</body>
</html>